What is the most optimal skills for Data Scientists to learn?

In [1]:
# Importing libraries
import ast
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Load Dataset
df_original =pd.read_csv("hf://datasets/lukebarousse/data_jobs/data_jobs.csv")

# Data CLeanup
df_original['job_posted_date']=pd.to_datetime(df_original['job_posted_date'])
df_original['job_skills']=df_original['job_skills'].apply(lambda x:ast.literal_eval(x) if pd.notna(x) else x)

In [5]:
df_DS_US=df_original[(df_original['job_title_short']=='Data Scientist')&(df_original['job_country']=='United States')].copy()

# Drop Nan values from the 'salary_year_avg' column for accurate visualization
df_DS_US=df_DS_US.dropna(subset=['salary_year_avg'])

df_DS_US_exploded=df_DS_US.explode('job_skills')

df_DS_US_exploded[['salary_year_avg','job_skills']].head(5)

     salary_year_avg job_skills
100         228222.0        sql
100         228222.0          r
100         228222.0     python
100         228222.0    express
116         114000.0          r